@font-face {
    font-family: 'RPGFont';
    src: url('../font/BreatheFireIii-PKLOB.ttf') format('truetype');
}

@font-face {
    font-family: 'Canter';
    src: url('../font/Canter-Bold.ttf') format('truetype');
}  


html, body{
    height: 100%;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    scroll-behavior: smooth;
}

.g-header{
    display: block;
    margin: 2%;
    padding: 0;
    width: 96%;
    background-color: rgba(160, 61, 54, 0.42);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    height: 120px;
    -webkit-box-shadow: 0px 12px 40px -3px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 12px 40px -3px rgba(0,0,0,0.62);
    box-shadow: 0px 12px 40px -3px rgba(0,0,0,0.62);
    border-radius: 40px;
}

.g-title{
    display: flex;
    font-family: RPGFont;
    font-size: 64px;
    color: rgba(255, 255, 255, 0.42);
    margin: 0 0 0 40px;
    height: 100%;
    width: 300px;
    align-items: center;
}

.g-header nav{
    display: flex;
    height: 100%;
    align-items: center;
    justify-items: right;
    float: right;
    margin-top: -120px;
}

.g-header nav ul{
    display: inline-flex;
}

.g-header nav ul li{
    margin-right: 40px;
    list-style: none;
    font-size: 32px;
    font-family: Canter;
    margin-bottom: -5px;
}

.g-header nav ul li a{

    transition: all 300ms;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.g-header nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 187, 0);;
    transition: width .3s;
}

.g-header nav ul li a:hover::after {
    
    width: 100%;
    transition: width .3s;
}

.g-header nav ul li a:hover{
    color: rgb(255, 187, 0);
    transition: all 300ms;
}

body{
    background-image: url("../img/back.png");
    background-size: 100%;
    background-position: -0px -60px;
    background-attachment: fixed;
}

.g-footer{
    bottom: 0;
    display: block;
    margin: auto 16% 2% 16%;
    padding: 0;
    width: 68%;
    background-color: rgba(160, 61, 54, 0.42);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    height: 72px;
    -webkit-box-shadow: 0px 12px 40px -3px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 12px 40px -3px rgba(0,0,0,0.62);
    box-shadow: 0px 12px 40px -3px rgba(0,0,0,0.62);
    border-radius: 20px;
}

.g-footer p{
    letter-spacing: 2px;
    display: inline-flex;
    font-family: Canter;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    align-items: center;
    width: auto;
    margin-left: 4%;
}

.g-textr{
    float: right;
    margin-right: 4%;
    margin-top: 2.90%;
}

section{
    margin: 4% 10%;
    border-radius: 40px;
    width: 80%;
    padding: 0;
    height: 372px;
    background-color: rgba(29, 27, 23, 0.62);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    -webkit-box-shadow: 0px 12px 40px -3px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 12px 40px -3px rgba(0,0,0,0.62);
    box-shadow: 0px 12px 40px -3px rgba(0,0,0,0.62);
}

.g-imgInfo{
    display: inline-block;
    background-image: url("../img/section1.png");
    -webkit-clip-path: polygon(0 0, 0 100%, 50% 100%, 70% 0);
    clip-path: polygon(0 0, 0 100%, 50% 100%, 70% 0);
    background-size: cover;
    width: 45%;
    height: 372px;
    margin: 0;
    padding: 0;
    border-radius: 40px 0 0 40px;
}

.g-imgInfo-2{
    display: inline-block;
    background-image: url("../img/section1-2.png");
    -webkit-clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);
    clip-path: polygon(50% 0, 30% 100%, 100% 100%, 100% 0);
    background-size: cover;
    width: 45%;
    height: 372px;
    margin: 0 0 0 0%;
    padding: 0;
    border-radius: 0 40px 40px 0;
    float: right;
}

.g-active{
    color: rgb(255, 187, 0);
}

.g-secTitle{
    color: white;
    font-family: RPGFont;
    font-size: 48px;
    letter-spacing: 4px;
    display: inline-flex;
    position: absolute;
    left: 45%;
    top: -2.5%;
}

.g-secTitle2{
    color: white;
    font-family: RPGFont;
    font-size: 48px;
    letter-spacing: 4px;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 2px;
}

.g-secSub{
    color: rgb(255, 187, 0);
    font-family: Canter;
    font-size: 28px;
    display: inline-flex;
    position: absolute;
    top: 22%;
    letter-spacing: 4px;
    left: 43.5%;
}

.g-secBtn{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 6px;
    display: inline-flex;
    position: absolute;
    bottom: 10%;
    background-color: rgb(255, 187, 0);
    padding: 8px 20px 8px 26px;
    border-radius: 30px;
    left: 41.5%;
    border: 4px solid rgb(255, 187, 0);
    transition: all .3s;
}

.g-secBtn:hover{
    transition: all .3s;
    color: rgb(255, 187, 0);
    background-color: transparent;
}

.g-secText{
    color: white;
    font-family: Canter;
    letter-spacing: 3px;
    font-size: 20px;
    width: 40%;
    display: flex;
    position: absolute;
    top: 31%;
    text-align: center;
    left: 30%;
}


.L-secTitle{
    color: white;
    padding-top:30px;
    font-family: RPGFont;
    font-size: 64px;
    letter-spacing: 4px;
    width: 100%;
    text-align: center;
}

.L-secSub{
    color: rgb(255, 187, 0);
    font-family: Canter;
    font-size: 32px;
    letter-spacing: 4px;
    width: 100%;
    display: inline-block;
    text-align: center;
    position: absolute;
    top:80px;
    margin-left: 42px;
}

.L-h2-sec{
    font-family: Canter;
    color: white;
    font-size: 26px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: block;
}

.L-p-sec{
    font-family: Canter;
    color: white;
    font-size: 22px;
    letter-spacing: 2.5px;
    text-align: justify;
    width: 80%;
    padding: 0 10%;
}

.g-gpSub{
    color: rgb(255, 187, 0);
    font-family: Canter;
    font-size: 28px;
    display: inline-block;
    width: 100%;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 0;
    padding-top: -20px;
}

.g-gpImg1{
    display: inline-flex;
    background-image: url("../img/gameplay1.png");
    background-size: cover;
    background-position: center;
    clip-path: polygon(25% 0, 86% 14%, 100% 63%, 61% 100%, 11% 74%, 0 29%);
    width: 38%;
    height: 372px;
    margin: -10px 10px 40px 40px;
    padding: 0;
    border-radius: 0 0 0 40px;
}

.g-boxSlide1{
    display: block;
    width: 52%;
    margin: 80px 40px 40px -10px;
    height: 220px;
    float: right;
    overflow: hidden;
}

.g-gpImg2{
    display: inline-flex;
    background-image: url("../img/gameplay2.png");
    background-size: cover;
    background-position: center;
    clip-path: polygon(25% 0, 86% 14%, 100% 63%, 61% 100%, 11% 74%, 5% 29%);
    width: 38%;
    height: 372px;
    margin: -10px 40px 40px 10px;
    padding: 0;
    border-radius: 0 0 0 40px;
}

.g-boxSlide2{
    display: block;
    width: 52%;
    margin: 45px -10px 40px 40px;
    height: 220px;
    float: left;
    overflow: hidden;
}

.item-1, .item-2, .item-3, .g-item-1, .g-item-2, .g-item-3 {
    margin-top: 0;
    display: inline;
    font-family: Canter;
    color: white;
    display: block;
    width: calc(100% - 10px);
    font-size: 36px;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
    text-align: justify;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
    margin-top: -206px;
}

.item-3{
	animation-name: anim-3;
    margin-top: -246px;
}

.g-item-1{
	animation-name: anim-1;
    animation-direction: reverse;
}

.g-item-2{
	animation-name: anim-2;
    margin-top: -164px !important;
    animation-direction: reverse;
}

.g-item-3{
	animation-name: anim-3;
    margin-top: -204px !important;
    animation-direction: reverse;
}

.timer{
    font-family: Canter;
    font-size: 98px;
    letter-spacing: 0px;
    color: white;
    display: block;
    text-align: center;
    width: 100%;
    margin: 40px 0 0px 0;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: bolder;

}

@keyframes anim-1 {
	0%, 8.3% { margin-left: -100%; opacity: 0; }
    8.3%,25% { margin-left: 10px; opacity: 1; }
    33.33%, 100% { margin-left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { margin-left: -100%; opacity: 0; }
    41.63%, 58.29% { margin-left: 10px; opacity: 1; }
    66.66%, 100% { margin-left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { margin-left: -100%; opacity: 0; }
    74.96%, 91.62% { margin-left: 10px; opacity: 1; }
    100% { margin-left: 110%; opacity: 0; }
}