@font-face {
    font-family: 'RPGFont';
    src: url('../font/BreatheFireIii-PKLOB.ttf') format('truetype');
}

@font-face {
    font-family: 'Canter';
    src: url('../font/Canter-Bold.ttf') format('truetype');
}  

html, body{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.backimg{
    position: absolute;
    top: -10%;
    width: 100%;
    object-fit: contain;
    z-index: 0;
}

.title{
    margin-left: 10px;
    position: relative;
    color: #FFF;
    font-family: RPGFont;
    font-size: 128px;
    text-align: center;
    font-weight: bolder;
    z-index: 12;
    
}

.subtitle{
    display: block;
    margin-top: -88px;
    margin-left: 10px;
    position: relative;
    text-align: center;
    color:#FFF;
    font-family: Canter;
    font-size: 64px;
    letter-spacing: 22px;
    font-weight: bolder;
    text-align: center;
    z-index: 11;
}

.button{
    display: block;
    position: fixed;
    left: 40%;
    bottom: 15%;
    width: auto;
    margin: 0 auto;
    padding: 10px 20px 10px 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 14px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 187, 0);
    border: 4px solid rgb(255, 187, 0);
    border-radius: 100px;
    z-index: 11;

    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;

}

.button:hover{
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    background-color: transparent;
    color: rgb(255, 187, 0);
    -webkit-filter: drop-shadow(2.2px 4.5px 4.5px hsl(0deg 0% 0% / 0.43));
    filter: drop-shadow(2.2px 4.5px 4.5px hsl(0deg 0% 0% / 0.73));
}

.fullbtn{
    display: flex;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 46px;
    background-color: rgb(255, 187, 0);
    padding: 6px;
    border: 2px solid rgb(255, 187, 0);
    border-radius: 16px;
    z-index: 11;
    /* transition: all 0.3s ease-in-out; */
}

.fullbtn:hover{
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    transform: rotate(180deg);
}

.info{
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    position: absolute;
    background-color: rgb(44, 37, 28);
    top: 20%;
    left: 30%;
    height: 100%;
    width: 40%;
    height: 60%;
    z-index: -50;
    border-radius: 40px 40px;
    opacity: 0;
}

.info-extend{
    -moz-transition-duration: 900ms;
    -o-transition-duration: 900ms;
    -webkit-transition-duration: 900ms;
    transition-duration: 900ms;
    opacity: 1;
    z-index: 50;
    box-shadow: 12px 0px 28px 0px rgba(255, 187, 0, 0.4);

}


.info-title{
    font-family: Canter;
    font-weight: bold;
    font-size: 44px;
    margin: 18px 14px 14px 14px;
    color:white;
    text-decoration: underline;
    text-decoration-color: rgb(255, 187, 0);
    text-decoration-thickness: 4px;
}

.info-btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0px;
    padding: 8px 12px 8px 12px;
    color: white;
    width: 60%;
    text-align: center;
    background-color: rgb(255, 187, 0);
    border: 4px solid rgb(255, 187, 0);
    border-radius: 40px;
    text-decoration: none;
}

.info-img{
    max-width: 90%;
    margin: 4px 14px 14px 14px;
    object-fit: contain;
    border-radius: 6px;
}


body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 
canvas{ display: block; vertical-align: bottom; } 
#particles-js{ position:absolute; width: 100%; height: 100%; background-color: transparent; background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; } 
/* ---- stats.js ---- */ 
.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } 
#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } 
.count-particles{ border-radius: 0 0 3px 3px; }



.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: -50;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 50;
}

.popup {
    margin: 16% auto;
    padding: 20px;
    background: rgb(44, 37, 28);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.popup .close {
    position: absolute;
    top: 6px;
    right: 16px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 187, 0);
}
.popup .close:hover {
color: white;
}
.popup .content {
    max-height: 30%;
    color: #FFF;
    font-size: 14px;
    overflow: auto;
}

.popup .content a{
    color: rgb(255, 187, 0);
    text-decoration: none;
}

@media screen and (max-width: 700px){
.box{
    width: 70%;
}
.popup{
    width: 70%;
}
}